body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.todocard {
  background-color: red;
  color: white;
  margin: 10px;
  padding-bottom: 10px;
}
